<h2>Shorten a Link</h2>
<form action='/' method="post">
  URL:<br>
  <input type="text" name="url" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<br><br>

<h2>Your Link Stats</h2>
  
  {{#each allLinks as |link|}}
    <div class="link-container">
      <div class="link-data {{link.id}}">{{link.url}}</div>
      <div class="link-data {{link.id}}">{{link.id}}</div>
      <div class="link-data {{link.id}}">{{link.visits}}</div>
    </div>
  {{/each}}
  

